<h1> Bienvenue sur la page utilisateur, <%= current_user.first_name%> <%=current_user.last_name%>! </h1>
Ton prénom: <%= current_user.first_name %> <br>
Ton nom de famille: <%= current_user.last_name %> <br>
Ton email: <%= current_user.email %>

<li>
      <%= link_to "Modifier mon profil", edit_user_registration_path %>
    </li>

